/admin/node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/packages
.phpstorm.meta.php
_ide_helper.php
.php_cs.cache
/admin/dist/
/resources/views/vendor/mail/
/node_modules/
/admin/generators/
/admin/conf.d/cert.pem
/admin/conf.d/key.pem
/certbot/
/nginx/conf.d/local.conf
local.yml
